<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:application.properties"/>


    <bean id="student"
          class="globalPackage.mini.Student">
        <property name="name" value="${student.name}">
        </property>
        <property name="age" value="${student.age}">
        </property>
    </bean>

    <bean id="group"
          class="globalPackage.mini.Group">
        <constructor-arg ref="student">
        </constructor-arg>
        <constructor-arg value="${group.name}">
        </constructor-arg>
    </bean>


    <bean id="instructor"
          class="globalPackage.mini.Instructor">
        <constructor-arg value="${ins.name}">
        </constructor-arg>
        <constructor-arg ref="group">
        </constructor-arg>


    </bean>

</beans>